.mainpart1::selection {
  background-color: crimson
}

.mainpart1 {
  height: 80vh;
  width: 100%;
  //   background-color: lightblue !important;
  display: flex;
  flex-direction: column;
  align-items: center;


  .inside-main {
    height: 100%;
    width: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .inside-part1 {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 40%;
    width: 100%;
    // background-color: red;
  }

  .inside-part1 video {
    height: 100%;
    border-radius: 50px;
    width: 100%;
  }

  .inside-part2 {
    height: 50%;
    width: 100%;

    h1 {
      text-align: center;
      font-size: 35px;
    }

    h3 {
      margin-bottom: 1rem !important;
      font-weight: 100;
      text-align: center;
      z-index: 2;
    }

    h2 {
      margin-top: 20px;
      text-align: center;
    }

    .text {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      .span {
        rotate: 12deg;
        font-size: 25px;
        background-color: #FFFF7D;
        text-align: center;
        padding: 10px;
        margin-top: 10px !important;
      }
  
      h2{
       font-size: 25px; 
       font-weight: 400;
      }
    }


  }


}

@media (min-width:1440px) {
  .mainpart1 {
    height: 90vh;
    width: 100%;
    // background-color: lightblue !important;
    display: flex;
    flex-direction: column;
    align-items: center;



    .inside-main {
      height: 90%;
      width: 100%;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inside-part1 {
      height: 100%;
      width: 100%;
      border-radius: 20px;
      display: flex;
      align-items: start;
      justify-content: start;
      position: relative;
      // background-color: red;
    }

    .inside-part1 video {
      height: 100%;
      width: 100%;
    }

    .inside-part2{
      position: absolute;
      z-index: 2;
      height: 80%;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.304);
      padding: 4rem;
      border-radius: 50px;
      color: coral;
      // top: 30%;
      // left: 25%;
      h3{
        font-size: 2rem;
        font-size: 600;
      }
      h1{
        font-size: 4rem;
        letter-spacing: 0.4rem;
      }
      .text{
        // margin-top: 5rem;
        .span{
          font-size: 3rem;
          color: #8017F5;
        }
        h2{
          font-size: 3rem;
          letter-spacing: 0.4rem;
        }

      }
    }

  }

}