.mainpart2 {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .mainpart {
        border-radius: 50px;
        height: 100%;
        width: 95%;
        border: 0.5px solid grey;
        padding: 2rem;
    }

    .mainpart1 {
        height: 10%;
        display: flex !important;
        flex-direction: column;
        // padding: 0px 40px;
        gap: 1rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        // background-color: red;

        h1 {
            font-size: 20px;
            width: 100%;
        }

    }

    .mainpart2 {
        min-height: 10%;
        width: 100%;
        background-color: blue;
    }

}

@media (min-width:1440px) {
    .mainpart2 {
        height: 60vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .mainpart {
            border-radius: 50px;
            height: 100%;
            width: 95%;
            border: 0.5px solid grey;
            padding: 3rem;
        }

        .mainpart1 {
            height: 10%;
            display: flex !important;
            flex-direction: row;
            // padding: 0px 40px;
            gap: 1rem;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            // background-color: red;

            h1 {
                font-size: 30px;
                width: 100%;
            }

            p {
                font-size: 16px;
            }
        }

    }
}