.mainpart1 {
  height: 80vh;
  width: 100%;
  //   background-color: lightblue !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inside-main {
    height: 100%;
    width: 95%;
    border-radius: 20px;
    // background-color: red;
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .inside-main video {
    height: 40%;
    border-radius: 50px;
    width: 100%;
  }

}

@media  (min-width:1440px) {
  .mainpart1 {
    height: 80vh;
    width: 100%;
      // background-color: lightblue !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inside-main {
      height: 100%;
      width: 95%;
      border-radius: 20px;
      // background-color: red;
      display: flex;
      align-items: start;
      justify-content: center;

      .inside-part1{
        height: 100%;
        width: 100%;

        .inside-part1 video {
          height: 100%;
          border-radius: 50px ;
          width: 100%;
        }
      }

    }


  }
}