.nav{
    // height: 50px
    width: 100%;
    // background-color: blue;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2{
    border-bottom: 2px solid black;
    width: 100%;
    padding: 20px 0px;
}